Pinz.Client.RemoteServiceConsumer/Service References/PinzAdminServiceReference/PinzAdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://5a109c6b4fcb4234a03b4dad3883a59d.cloudapp.net/PinzAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CompanyDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyDO" nillable="true" type="tns:CompanyDO" />
</xs:schema>